@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #e8e4e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;

}



.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.subhome {
  max-width: 820px;
  text-align: left;
}

.paper-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between the items as needed */
}






.paper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);

}

.paper-pic {
  width: 37%;

}

.paper-info {
  width: 57%;

}